<h1>Hello, this is show page</h1>
<%= link_to "my_resume", "/user_informs/#{current_user.id}", class: "btn btn-primary" %> 
<%= link_to "Log out", logout_path, method: :delete, class: "btn btn-primary" %> 