<%if signed_in?%>
	<h1> Hello, <%=@current_user.email%>!</h1>
	
<%else%>
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<%= link_to "Sign in", login_path, class: "btn btn-primary" %> 
		<%= link_to "Register", signup_path, class: "btn btn-outline-info" %>
	</div>
<% end %>

